* {
    padding: 0;
    margin: 0;
}

html,
body {
    font-family: arial, sans-serif;
    height: 100%;
}

.main-div {
    margin-top: -19px;
}

a {
    text-decoration: none;
}

.floatRight {
    float: right;
    margin-right: 11px;
    margin-top: 30px;
}

.topNav {
    float: left;
}

.rounded {
    border-radius: 50%;
    color: #fff;
    padding: 5px 5px !important;
}

.round {
    border-radius: 30px;
    border: 1.2px solid #eee;
    padding: 10px 10px 10px 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 670px;
}

.round:hover {
    box-shadow: 0px 3px 9px rgba(113, 117, 123, 0.4);
}

.search-icon {
    color: #4285F4;
    position: absolute;
    top: 15px;
    left: 630px;
    z-index: 6;
}

.fa-microphone {
    color: #4285F4;
    position: absolute;
    top: 16px;
    left: 600px;
    z-index: 6;
}

input[value="Quadri Adisa"] {
    font-size: 17px;
}

.bars-icon .fa-bars {
    margin-top: -33px;
    margin-right: -10.5px;
    font-size: 19px;
}

.rightul li {
    display: inline-block;
    text-decoration: none;
}

ul li {
    list-style: none;
    text-decoration: none;
    padding: 12px;
}

.li-one {
    margin-top: 35px;
    margin-left: 20px;
}

.input-holder {
    position: absolute;
    top: 25px;
    left: 170px;
}

.menu-div {
    margin-left: 175px;
    padding-top: 90px;
}

.menu-div ul li {
    display: inline-block;
}

.menu-div small {
    color: grey;
}

.menus:hover {
    color: #4351AC;
}

.activehr {
    width: 57px;
    border-top: 1.5px solid blue;
    border-bottom: 1.5px solid blue;
    margin-top: 2px;
}

.fa-style {
    padding-right: 5px;
    color: grey;
    font-size: 10px;
}

.active-small {
    color: #2E75D7;
}

.settings {
    margin-left: 50px;
}

.tools {
    padding: 5px;
}

.tools:hover {
    border: 1px solid #c6c6c6;
    background-color: #f8f8f8;
    padding: 5px 10px;
}

.hr {
    width: 100%;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.resultsdive {
    color: grey;
    font-size: 17px;
    margin-left: 185px;
    margin-top: 20px;
}

.parent-div {
    border: 1.2px solid #eee;
    border-radius: 5px;
    width: 48%;
    margin-left: 150px;
    margin-top: 20px;
}

.result-element {
    border: 1px solid #eee;
    height: 70px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    border-radius: 5px;
}

.display {
    float: right;
    margin-right: 15px;
    margin-top: 30px;
    font-size: 30px;
}

.fa-redo-alt {
    float: left;
    margin-left: 15px;
    margin-top: 10px;
    color: gray;
}

.button4 {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}

.buttons {
    margin-left: -9px !important;
}

.button-two {}

.button {
    background-color: #D7D9DD;
    border: none;
    border-radius: 2px;
    color: #000;
    padding: 7px 33px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin: 2px;
}

.exp-buttons {
    padding: 7px 30px;
}

.log-button {
    padding: 7px 28px;
    margin-left: 0;
}

.xy-button {
    padding: 7px 28px;
}

.numSeven-button {
    padding: 7px 32px;
    margin-left: 0;
    background-color: #E8EAEB;
}

.numFour-button {
    padding: 7px 33px;
    margin-left: 0;
    background-color: #E8EAEB;
}

.numOne-button {
    padding: 7px 33px;
    margin-left: 0;
    background-color: #E8EAEB;
}

.numEight-button {
    padding: 7px 31px;
    background-color: #E8EAEB;
}

.numFive-button {
    padding: 7px 31px;
    background-color: #E8EAEB;
}

.numTwo-button {
    padding: 7px 31px;
    background-color: #E8EAEB;
}

.numNine-button {
    padding: 7px 35px;
    background-color: #E8EAEB;
}

.numSix-button {
    padding: 7px 35px;
    background-color: #E8EAEB;
}

.numThree-button {
    padding: 7px 35px;
    background-color: #E8EAEB;
}

.zero-button {
    background-color: #E8EAEB;
}

.dot-button {
    background-color: #E8EAEB;
}

.equals-button {
    padding: 7px 35px;
    background-color: #4D8BF1;
    color: #fff;
}

.division-button {
    padding: 7px 38px;
}

.multiply-button {
    padding: 7px 38px;
}

.subtract-button {
    padding: 7px 40px;
}

.addition-button {
    padding: 7px 40px;
}

.row-one {
    padding: 7px 40px;
}

.row-ones {
    padding: 7px 35px;
}

.sym-li {
    padding: 7px;
    margin-left: 9px;
}

.calc-Menu {
    padding: 10 0px;
}

.result-element:hover {
    border: 1px solid gray;
}