* {
	margin: 0;
	padding: 0;
}
body {
	overflow-x: hidden;
}
.active {
	border: 3px solid  #ccd1d1;
	background:  grey;
}
.input-group-append .btn {
	background-color: #000;
	border:  none;
}
.nav-link {
	color: purple !important;
}
.col-one {
	width: 30%;
	height: 200px;
	background-color: purple;
}
.imgSpan {
	display: block;
	text-align: center;
}
.firstCol-wrap {
	/* padding: 20px; */
}
img {
	object-fit: cover;
	width: 100px;
}
.companyName {
	font-size: 20px;
	color: purple;
	text-transform: uppercase;
	text-align:  center;
	display: block;
	font-weight:  bold;
}
.info-wrap {
	width: 300px;
	border: 2px solid #eee;
	height: 200px;
	padding: 10px;
	background: purple;
	color: #fff;
}
.ourEthics {
	font-size: 10px;
}
.choose {
	text-transform: uppercase;
	text-align: center;
}
.videoWrap {
	height: 200px;
	width: 300px;
	background-color: #000;
	margin-left:  60px;
}
.videoWrap span {
	display: block;
	text-align:  center;
}
.yVideo img {
	border-radius: 50%;
	border: 2px solid red;
	margin-top: 50px;
}
.imgCaption {
	text-align:  center;
	color: #fff;
}
.location {
	background: url(../images/map.jpg) no-repeat 0px 0px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    -moz-background-size: 100% auto;
    background-position: center;
    height: 150px;
}
.locationOverlay {
	background-color: green;
	opacity: 0.6;
	height: 150px;
}
.locationDetails {
	padding: 20px;
}
.info span {
	display: block;
	text-transform: uppercase;
	font-size: 20px;
	text-align: center;
	color: #fff;
}
.card {
	margin: 10px;
}
.card-title {
	color:  purple;
	text-align: center;
	text-transform: uppercase;
	font-weight:  bold;
	margin:  0;
	font-size: 20px;
}
.card-titles {
	text-align: center;
	text-transform: uppercase;
	font-weight:  bold;
	color:  red;
	font-size: 8px;
}
.card-text {
	font-size: 10px;
	font-weight: 100;
}
.SPAN {
	padding: 10px;
}
.left-span {
	background-color: purple;
	height:  60px;
	width: 60px;
}
.fa-briefcase, .homeIcon{
	font-size: 20px;
	color: #fff;
	padding-left:  15px;
}
.text {
	text-align: center;
	font-size: 7px;
	color: #fff;
	text-transform:  uppercase;
}
.col-info {
	background-color: #000;
}
.col-info p {
	color: #fff;
	font-size: 15px;
	text-transform: uppercase;
}
.client {
	background: grey;
	height: 100px;
}
.clientUl {
	padding: 10px;
}
.clientUl li{
	display:  inline-block;
	margin-top: 15px;
	margin-right: 20px;
}
.client-images img {
	width: 70px;
	height: 50px;
}
footer {
	background-color: purple;
	height: 4em;
}
.footer-form {
	height: 30px;
	margin-bottom: 10px;
}
footer .col-one {
	display:  block;
	color: #fff;
}
.socials li{
	display: inline-block;
	margin: 20px;
	color: #fff;
	border: 2px solid #fff;
	padding: 5px;
}
.fCol-two {
	color: #fff;
	margin-top: 20px;
}
.fCol-two span {
	font-size: 10px;
}


