@mixin respond($breakpoint) {
    @if $breakpoint==phone {
        @media (max-width: 37.5em) {
            @content
        }
        ; //600px
    }
    @if $breakpoint==tab-port {
        @media (max-width: 56.25em) {
            @content
        }
        ; //900px
    }
    @if $breakpoint==tab-land {
        @media (max-width: 75em) {
            @content
        }
        ; //1200px
    }
    @if $breakpoint==big-desktop {
        @media (min-width: 112.5em) {
            @content
        }
        ; //1800px
    }
}

$color-white:#fff;
$color-primary-light:#7ed56f;
$color-primary-dark:#28b485;
$color-black:#000000;
$default-font-size:1.6rem;
body {
    font-family: 'Poppins', sans-serif;
}

.heading-primary {
    text-transform: uppercase;
    color: $color-white;
    backface-visibility: hidden;
    margin-bottom: 4rem;
    &-main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        animation-name: moveInLeft;
        animation-duration: 3s;
        animation-timing-function: ease-out;
        @include respond (phone) {
            letter-spacing: 1rem;
            font-size: 5rem;
        }
    }
    &-sub {
        display: block;
        font-size: 2rem;
        font-weight: bolder;
        letter-spacing: 1.75rem;
        animation: moveInRight 3s ease-out;
        @include respond (phone) {
            letter-spacing: .5rem;
        }
    }
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 700;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;
    @include respond (tab-port) {
        font-size: 3rem;
    }
    @include respond (phone) {
        font-size: 2.5rem;
    }
    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
}

.heading-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: $default-font-size;
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}