@mixin respond($breakpoint) {
    @if $breakpoint==phone {
        @media (max-width: 37.5em) {
            @content
        }
        ; //600px
    }
    @if $breakpoint==tab-port {
        @media (max-width: 56.25em) {
            @content
        }
        ; //900px
    }
    @if $breakpoint==tab-land {
        @media (max-width: 75em) {
            @content
        }
        ; //1200px
    }
    @if $breakpoint==big-desktop {
        @media (min-width: 112.5em) {
            @content
        }
        ; //1800px
    }
}

.u-center-text {
    text-align: center !important;
}

.u-margin-bottom-small {
    margin-bottom: 2rem !important;
}

.u-margin-bottom-medium {
    margin-bottom: 4rem !important;
    @include respond (tab-port) {
        margin-bottom: 3rem !important;
    }
}

.u-margin-bottom-big {
    margin-bottom: 8rem;
    @include respond (tab-port) {
        margin-bottom: 5rem !important;
    }
}

.u-margin-top-big {
    margin-top: 8rem !important;
}

.u-margin-top-huge {
    margin-top: 10rem !important;
}